body {
	align-items: center;
}
.btn {
	display: inline-block;
	margin-top: .3rem;
	margin-left: 40%;
	padding: .5rem 1.3rem;
	font-size: 1.8rem;
	border: 0.1rem solid #0e8bb5;
	background: #f0fdfa;
	color: #0e8bb5;
	cursor: pointer;
	text-transform: capitalize;
	border-radius: 4rem;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition: all 0.4s ease-out;
  
  }
  
  .btn:hover {
	box-shadow: 0 0 15px 5px #0e8bb5;
  }